<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<script src="../assets/users/libs/easing/easing.min.js"></script>
<script src="../assets/users/libs/waypoints/waypoints.min.js"></script>
<script src="../assets/users/libs/owlcarousel/owl.carousel.min.js"></script>
<script src="../assets/users/libs/tempusdominus/js/moment.min.js"></script>
<script src="../assets/users/libs/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../assets/users/libs/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="../assets/users/js/main.js"></script>
