<style>
    .content {
        flex: 1;
        padding-bottom: 60px;
    }

    * {
        color: white;
    }
</style>
<div class="content">
</div>
<!-- Footer Start -->
<div class="footer">
    <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Liên Hệ</h4>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Hồ Chí Minh, Việt Nam</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+84 123 456 789</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Theo Dõi Chúng Tôi</h4>
            <p>Hãy kết nối với chúng tôi qua các mạng xã hội:</p>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Giờ Mở Cửa</h4>
            <div>
                <h6 class="text-white text-uppercase">Thứ Hai - Thứ Sáu</h6>
                <p>8:00 AM - 8:00 PM</p>
                <h6 class="text-white text-uppercase">Thứ Bảy - Chủ Nhật</h6>
                <p>2:00 PM - 8:00 PM</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">Đăng Ký Nhận Tin</h4>
            <p>Nhận thông tin mới nhất từ chúng tôi qua email.</p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Nhập Email của bạn">
                    <div class="input-group-append">
                        <button class="btn btn-primary font-weight-bold px-3">Đăng Ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
