<style>
  .product-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
  }
  
</style>
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
      <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">SẢN PHẨM</h1>
  </div>
</div>
<!-- Page Header End -->

<!-- Menu Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row">
          <div class="col-lg-4" *ngFor="let product of products">
              <mat-card class="example-card" appearance="outlined" style="padding: 25px; margin-bottom: 20px; width: 20rem">
                <mat-card-header class="card-custom">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ product.name }}</mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="'http://localhost:3000/uploads/' + product.image" alt="" style="height: 250px;">
              <mat-card-content style="margin-top: 10px;">
                  <p class="product-description">{{ product.description }}</p>
                  <p><strong>Giảm giá: </strong>{{ product.discount | number: '1.0-0'}}%</p>
                  <p><strong>Số lượng: </strong>{{ product.quantity }}</p>
                  <p><strong>Giá bán: </strong>{{ product.sellingPrice | number: '1.0-0' }} VND</p>
              </mat-card-content>
              <mat-card-actions>
                <div class="container"> 
                  <div class="quantity">
                    <div class="wrapper" *ngIf="product.quantity > 0">
                      <!-- https://www.codingnepalweb.com/button-increment-decrement-number/ -->
                      <span class="minus" (click)="decrementQuantity(product.productId)">-</span>
                      <span class="num">{{ quantities.get(product.productId) }}</span>
                      <span class="plus" (click)="incrementQuantity(product.productId, product.quantity)">+</span>
                    </div>
                  </div> 
                </div>
              </mat-card-actions>
              <mat-card-actions class="add-to-card">
                <button mat-button *ngIf="product.quantity > 0"
                        style="background-color: coral; border-radius: 25px; font-size: 20px;" 
                        (click)="addToCart(product)">
                  Thêm vào giỏ hàng
                </button>
                <span *ngIf="product.quantity <= 0" class="text-danger" >
                  Hết hàng
                </span>
              </mat-card-actions>
              </mat-card>
          </div>
    </div>
</div>
<!-- Menu End -->